// =============================================================================
// Theme Variables
// =============================================================================

// Header Heights
// -----------------------------------------------------------------------------

$header-height: (
  'xs': 156px,
  'sm': 156px,
  'md': 104px,
  'lg': 114px,
  'xl': 114px, 
);

// Toolbar - Header(logo + menu btn) & Flyout(cart btn + close btn)
// -----------------------------------------------------------------------------

$header-toolbar-height: (
  'xs': 86px,
  'sm': 86px,
  'md': 104px,
  'lg': 114px,
  'xl': 114px, 
);

// =============================================================================
// Bootstrp Theme Variables
// =============================================================================

// Branding Colors
// -----------------------------------------------------------------------------

$blue:    #003da5;
$blue-lt: #0f74cb;
$blue-ot: #009cde;
$gold:    #ffb81c;
$green:   #78be20;
$light:   #eaeaea;
$dark:    #2b2b2b;

$colors: (
  "blue-lt": $blue-lt,
  "gold": $gold,
);

// Theme Colors
// -----------------------------------------------------------------------------

$primary:   $blue;
$secondary: $blue-lt;
$tertiary:  $gold;

$theme-colors: (
  "tertiary": $tertiary,
);

// Body
// -----------------------------------------------------------------------------

$body-bg:                   white;
$body-color:                $dark;

// Links
// -----------------------------------------------------------------------------

$link-color:       $primary;
$link-hover-color: $secondary;

// Tables
// -----------------------------------------------------------------------------

$table-head-bg:    white;
$table-head-color: $dark;

// Grid breakpoints
// -----------------------------------------------------------------------------

$grid-breakpoints: (
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1440px,
  max: 1920px,
);

// Grid containers
// -----------------------------------------------------------------------------

$container-max-widths: (
  sm: 540px,
  md: 720px,
  lg: 960px,
  xl: 1200px,
);

// Custom Max Container offsets
// -----------------------------------------------------------------------------

$container-max-offsets: (
  xs: 2rem,
  sm: 10vw,
  lg: 7.5vw,
  xl: 144px,
);

// Typography
// -----------------------------------------------------------------------------

$enable-responsive-font-sizes: false;

$font-family-base: 'Fira Sans', sans-serif;
$font-family-heading: 'Oswald', sans-serif;

$font-size-base:              1rem;
$custom-font-size-base:       16px; // Used for custom dynamic font sizing on larger displays
$line-height-base:            1.67;

$h1-font-size: $font-size-base * (68/$font-size-base);
$h2-font-size: $font-size-base * (30/$font-size-base);
$h3-font-size: $font-size-base * (24/$font-size-base);
$h4-font-size: $font-size-base * (22/$font-size-base);
$h5-font-size: $font-size-base * (20/$font-size-base);
$h6-font-size: $font-size-base;

$headings-margin-bottom:      0.75rem;
$headings-font-weight:        normal;
$headings-line-height:        1.5;


// Sizing with .h-* and .w-* classes.
// -----------------------------------------------------------------------------

$sizes: (
  20: 20%,
);

// Border Radius
// -----------------------------------------------------------------------------

$border-radius:               0;
$border-radius-lg:            $border-radius;
$border-radius-sm:            $border-radius;

// Cards
// -----------------------------------------------------------------------------

// $card-spacer-y:                     0.75rem;
// $card-spacer-x:                     1.25rem;
$card-border-width:                 0;
$card-border-radius:                0;
$card-border-color:                 rgba(black, .125);
// $card-inner-border-radius:          subtract($card-border-radius, $card-border-width);
// $card-cap-bg:                       rgba(black, .03);
// $card-cap-color:                    null;
// $card-height:                       null;
$card-color:                        $dark;
$card-bg:                           white;

// $card-img-overlay-padding:          1.25rem;

// $card-group-margin:                 $grid-gutter-width / 2;
// $card-deck-margin:                  $card-group-margin;

// $card-columns-count:                3;
// $card-columns-gap:                  1.25rem;
// $card-columns-margin:               $card-spacer-y;

// Modals
// -----------------------------------------------------------------------------

$modal-content-border-radius:       0;
$modal-backdrop-opacity:            0.87;
$modal-backdrop-bg:                 white;
$modal-sm:                          map-get($container-max-widths, 'sm');
$modal-md:                          map-get($container-max-widths, 'md');
$modal-lg:                          map-get($container-max-widths, 'lg');
$modal-xl:                          map-get($container-max-widths, 'xl');

// Breadcrumbs
// -----------------------------------------------------------------------------

$breadcrumb-font-size:              16px;
$breadcrumb-padding-y:              0;
$breadcrumb-padding-x:              0;
$breadcrumb-item-padding:           0.4rem;
$breadcrumb-margin-bottom:          0;
$breadcrumb-bg:                     transparent;
$breadcrumb-divider-color:          inherit;
$breadcrumb-active-color:           $primary;
$breadcrumb-divider:                quote("/");
$breadcrumb-border-radius:          0;

// Blockquote
// -----------------------------------------------------------------------------

$blockquote-font-size:              $font-size-base * 1.4;

// Pagination
// -----------------------------------------------------------------------------

$pagination-padding-y:              0.5rem;
$pagination-padding-x:              0.75rem;
$pagination-line-height:            1.25;

$pagination-color:                  $dark;
$pagination-bg:                     transparent;
$pagination-border-width:           2px;
$pagination-border-color:           $tertiary;

$pagination-hover-color:            white;
$pagination-hover-bg:               $secondary;
$pagination-hover-border-color:     $primary;

$pagination-active-color:           $dark;
$pagination-active-bg:              $tertiary;
$pagination-active-border-color:    $tertiary;

$pagination-disabled-color:         #757575;
$pagination-disabled-bg:            white;
$pagination-disabled-border-color:  #ccc;
