// =============================================================================
// Accordions Section
// =============================================================================

.section__accordions {
  margin-bottom: 3rem;
  padding-bottom: 1rem;
  border-bottom: 1px solid #b5b5b5;
}
