// =============================================================================
// Content
// =============================================================================

.content {
  .image {
    margin-top: 0.5rem;
    margin-bottom: 1rem;
  }

  .video {
    margin: 3rem 0;
  }

  a {
    text-decoration: underline;
    font-weight: 500;
  }
}
