// =============================================================================
// Info Popups
// =============================================================================

.section__info-popups {
  display: flex;
  padding-bottom: 3rem;

  .btn.info {
    width: 100%;

    .heading {
      font-weight: normal;
      text-transform: uppercase;
    }
  }

  .icon-plus {
    background-color: white;
    fill: $primary;
    border-radius: 100%;
  }

  @include media-breakpoint-down(md) {
    flex-direction: column;

    .info-popup {
      margin-bottom: 0.5rem;
    }

    .btn.info {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 0 1rem;

      .heading {
        margin-bottom: 0;
        font-size: rem-calc(18);
        line-height: 3;
      }
    }
  }

  @include media-breakpoint-up(lg) {
    justify-content: space-between;
    margin: 0 -1rem;
    padding-bottom: 5rem;

    .info-popup {
      width: calc(#{percentage(1/3)} - 2rem);
      margin-left: 1rem;
      margin-right: 1rem;
    }

    .btn.info {
      padding: 3rem 1.5rem;

      .heading {
        font-size: rem-calc(24);
      }
    }
  }

  @include media-breakpoint-up(xl) {
    margin: 0 -1.5rem;

    .info-popup {
      width: calc(#{percentage(1/3)} - 3rem);
      margin-left: 1.5rem;
      margin-right: 1.5rem;
    }
  }
}
