// =============================================================================
// Info Popups
// =============================================================================

.section__info-popups {
  display: flex;
  padding-bottom: 3rem;

  @include media-breakpoint-down(md) {
    flex-direction: column;
  }

  @include media-breakpoint-up(lg) {
    justify-content: space-between;
    margin: 0 -1rem;
    padding-bottom: 5rem;
  }

  @include media-breakpoint-up(xl) {
    margin: 0 -1.5rem;
  }

  // Info Popup container
  // ---------------------------------------------------------------------------

  .info-popup {
    flex-grow: 1;
    flex-shrink: 0;

    @include media-breakpoint-down(md) {
      margin-bottom: 0.5rem;
    }

    @include media-breakpoint-up(lg) {
      width: calc(#{percentage(1/3)} - 2rem);
      margin-left: 1rem;
      margin-right: 1rem;
    }

    @include media-breakpoint-up(xl) {
      width: calc(#{percentage(1/3)} - 3rem);
      margin-left: 1.5rem;
      margin-right: 1.5rem;
    }
  }

  // Button Info
  // ---------------------------------------------------------------------------

  .btn.info {
    width: 100%;
    height: 100%;
    outline: 0 solid $tertiary;
    transition: 0.2s ease-out;

    @include media-breakpoint-down(md) {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 0 1rem;
    }
  
    @include media-breakpoint-up(lg) {
      padding: 3rem 1.5rem;
    }

    // Button heading
    // -------------------------------------------------------------------------

    .heading {
      font-weight: normal;
      text-transform: uppercase;

      @include media-breakpoint-down(md) {
        margin-bottom: 0;
        font-size: rem-calc(18);
        line-height: 3;
      }

      @include media-breakpoint-up(lg) {
        font-size: rem-calc(24);
      }
    }

    // Hover/Focus states of the button
    // -------------------------------------------------------------------------

    &:hover,
    &:focus {
      outline: 5px solid $tertiary;

      .icon {
        background-color: $tertiary;
        color: $dark;
      }
    }

    // Noop Button exception
    // -------------------------------------------------------------------------

    &.btn-noop {
      cursor: default !important;

      .prereqs {
        .course {
          color: $tertiary;

          span {
            color: white;
          }
        }
      }
  
      &:hover,
      &:focus {
        outline: none;
        background-color: $primary;
      }
    }
  }

  // Plus Icon
  // ---------------------------------------------------------------------------

  .icon-plus {
    background-color: white;
    fill: $primary;
    border-radius: 100%;
    transition: 0.2s ease-out;
  }

  // Lists
  // ---------------------------------------------------------------------------

  ul {
    margin-bottom: 0;
  }
}
