// =============================================================================
// Previews Teasers Section
// =============================================================================

.section__preview-teasers {
  .preview-teasers {
    padding-top: 2rem;
    padding-bottom: 2rem;
  
    @include media-breakpoint-up(lg) {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      margin: 0 -1rem;
      padding-top: 4rem;
      padding-bottom: 4rem;
    }

    @include media-breakpoint-up(xl) {
      margin-left: -2rem;
      margin-right: -2rem;
    }
  }
}
