// =============================================================================
// SEARCH RESULTS
// =============================================================================

.page--search-results {
  .filters {
    li {
      position: relative;

      label {
        padding-right: 0.3rem;
        border-right: 12px solid;
      }

      .icon {
        fill: $primary;
      }
    }

    li[data-name*="Certificate"] label { border-color: $primary; }
    li[data-name*="Credential"] label { border-color: $tertiary; }
    li[data-name*="Bootcamp"] label { border-color: $green; }
    li[data-name*="Course"] label { border-color: $dark; }
    li[data-name*="International"] label {
      position: relative;
      display: block;
      margin-right: 1.5rem;
      border-color: $blue-ot;

      &:after {
        content: '';
        position: absolute;
        top: -0.2rem;
        left: 100%;
        width: 1.6rem;
        height: 1.6rem;
        margin-left: 0.8rem;
        background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' id='icon-international' viewBox='0 0 24 24'%3E%3Ctitle%3Einternational%3C/title%3E%3Cpath d='M12 20c-4.417-0.002-7.997-3.583-7.997-8 0-4.418 3.582-8 8-8 1.645 0 3.175 0.497 4.446 1.348l-0.029-0.018c0.183-0.091 0.399-0.144 0.627-0.144 0.795 0 1.44 0.645 1.44 1.44 0 0.348-0.123 0.667-0.329 0.916l0.002-0.002c-0.239 0.3-0.594 0.499-0.995 0.53l-0.005 0c-0.038 0.004-0.083 0.006-0.128 0.006-0.741 0-1.351-0.56-1.431-1.279l-0.001-0.006c-0.005-0.047-0.008-0.101-0.008-0.155 0-0.231 0.055-0.449 0.152-0.643l-0.004 0.008c-0.524-0.337-1.128-0.616-1.77-0.807l-0.050-0.013c0.667 0.997 1.148 2.177 1.363 3.447l0.007 0.053c1.323 0.204 2.508 0.669 3.545 1.341l-0.035-0.021c-0.18-0.624-0.422-1.168-0.727-1.67l0.017 0.030-0.090-0.2 0.43-0.26 0.11-0.65 0.4 0.68c0.698 1.163 1.111 2.567 1.111 4.067 0 3.917-2.815 7.176-6.531 7.866l-0.049 0.008c-0.426 0.083-0.915 0.13-1.415 0.13-0.019 0-0.038-0-0.057-0l0.003 0zM9.6 15.49c0.5 2.18 1.42 3.62 2.35 3.62s1.85-1.44 2.35-3.62c-0.65 0.096-1.399 0.151-2.162 0.151-0.066 0-0.132-0-0.198-0.001l0.010 0c-0.028 0-0.061 0-0.095 0-0.795 0-1.578-0.055-2.344-0.16l0.089 0.010zM5.11 14c0.705 2.35 2.53 4.158 4.84 4.828l0.050 0.012c-0.668-1.001-1.151-2.183-1.372-3.455l-0.008-0.055c-1.324-0.208-2.508-0.676-3.545-1.351l0.035 0.021zM15.28 15.36c-0.219 1.322-0.696 2.502-1.381 3.533l0.021-0.033c2.361-0.686 4.184-2.503 4.867-4.81l0.013-0.050h-0.050l-0.59-0.75 0.26-0.17c0.363-0.239 0.612-0.626 0.659-1.074l0.001-0.006c0-0.89-1.45-1.8-3.64-2.3 0.094 0.69 0.149 1.488 0.15 2.299v0.001c0 0.015 0 0.033 0 0.051 0 0.665-0.036 1.322-0.107 1.968l0.007-0.080c0.074-0.372 0.28-0.685 0.566-0.897l0.004-0.003c0.232-0.173 0.525-0.277 0.842-0.277 0.077 0 0.152 0.006 0.226 0.018l-0.008-0.001c0.387 0.062 0.715 0.275 0.927 0.576l0.003 0.004c0.174 0.229 0.279 0.518 0.279 0.832 0 0.081-0.007 0.159-0.020 0.236l0.001-0.008c-0.062 0.385-0.271 0.711-0.566 0.927l-0.004 0.003c-0.236 0.173-0.532 0.277-0.852 0.277-0.077 0-0.153-0.006-0.226-0.018l0.008 0.001c-0.317-0.052-0.592-0.203-0.8-0.42l-0-0zM12 14.72c0.042 0 0.091 0.001 0.14 0.001 0.844 0 1.671-0.069 2.477-0.203l-0.088 0.012c0.092-0.651 0.144-1.402 0.144-2.166 0-0.128-0.001-0.256-0.004-0.383l0 0.019c0-0.012 0-0.027 0-0.041 0-0.871-0.069-1.727-0.202-2.561l0.012 0.092c-0.76-0.124-1.637-0.195-2.53-0.195s-1.77 0.071-2.624 0.207l0.094-0.012c0 0.27-0.080 0.56-0.11 0.85v0.29l-0.92-0.090v-0.29c0-0.2 0-0.39 0.070-0.58-2.19 0.49-3.63 1.41-3.63 2.33s1.44 1.84 3.63 2.33c0-0.22-0.060-0.46-0.080-0.69-0.612-0.175-1.053-0.73-1.053-1.387 0-0.697 0.495-1.279 1.154-1.412l0.009-0.002c0.097-0.023 0.209-0.037 0.324-0.037 0.795 0 1.44 0.645 1.44 1.44 0 0.305-0.095 0.589-0.257 0.822l0.003-0.005c-0.162 0.24-0.386 0.426-0.65 0.536l-0.010 0.004c0 0.32 0.060 0.63 0.11 0.93 0.744 0.121 1.602 0.19 2.476 0.19 0.012 0 0.024-0 0.036-0h-0.002zM16.44 14.21c0 0.282 0.228 0.51 0.51 0.51v0c0.145-0.002 0.276-0.063 0.37-0.16l0-0c0.093-0.088 0.15-0.211 0.15-0.349 0-0.004-0-0.008-0-0.012v0.001c-0.003-0.14-0.059-0.267-0.15-0.36l0 0c-0.092-0.093-0.22-0.15-0.361-0.15-0.003 0-0.006 0-0.009 0h0c-0 0-0 0-0 0-0.282 0-0.51 0.228-0.51 0.51 0 0.004 0 0.007 0 0.011v-0.001zM15.52 14.14v0.010zM8.26 12.26c-0 0.003-0 0.006-0 0.010 0 0.282 0.228 0.51 0.51 0.51 0 0 0 0 0 0v0c0.142-0.004 0.269-0.065 0.36-0.16l0-0c0.093-0.088 0.15-0.211 0.15-0.349 0-0.004-0-0.008-0-0.012v0.001c0-0.282-0.228-0.51-0.51-0.51v0c-0.282 0-0.51 0.228-0.51 0.51v0zM10 5.18c-2.368 0.688-4.198 2.508-4.887 4.82l-0.013 0.050c1.002-0.672 2.19-1.153 3.468-1.363l0.052-0.007c0.23-1.324 0.713-2.502 1.401-3.533l-0.021 0.033zM12 4.91c-0.93 0-1.86 1.44-2.35 3.62 0.706-0.096 1.522-0.15 2.35-0.15s1.644 0.055 2.444 0.16l-0.094-0.010c-0.55-2.15-1.49-3.62-2.35-3.62zM17 6.13v0c-0.003-0-0.006-0-0.010-0-0.282 0-0.51 0.228-0.51 0.51 0 0 0 0 0 0v0c0 0.001 0 0.001 0 0.002 0 0.142 0.062 0.27 0.16 0.357l0 0c0.096 0.086 0.221 0.142 0.358 0.15l0.002 0c0.011 0.001 0.023 0.001 0.036 0.001 0.139 0 0.265-0.058 0.354-0.151l0-0c0.092-0.092 0.15-0.219 0.15-0.36v-0c-0.010-0.126-0.066-0.238-0.15-0.32l-0-0c-0.094-0.113-0.233-0.186-0.389-0.19h-0.001z' style='fill:%23003DA5'%3E%3C/path%3E%3C/svg%3E");
      }
    }
  }
}

.section__search-results {
  .search-result {
    padding: rem-calc(20) 0 rem-calc(25);

    &:first-child {
      padding-top: 0;
    }

    & + .search-result {
      border-top: 1px solid $gray;
    }

    &.international {
      .meta .type {
        padding-left: 2.5rem;
      }
    }

    &.course,
    &.certificate,
    &.credential,
    &.bootcamp {
      .meta .date {
        &:before {
          content: "Starts: ";
        }
      }

      .search-result__header {
        h3.heading {
          padding-left: 0.5rem;
          border-left: 12px solid;
        }
      }
    }

    &.course .search-result__header h3.heading { border-color: $dark; }
    &.certificate .search-result__header h3.heading { border-color: $primary; }
    &.credential .search-result__header h3.heading { border-color: $tertiary; }
    &.bootcamp .search-result__header h3.heading { border-color: $green; }
    &.international .search-result__header h3.heading { border-color: $blue-ot; }
  }

  .meta {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin-bottom: 1rem;

    span {
      position: relative;
      padding-right: 0.75rem;
      font-size: rem-calc(18);
      line-height: rem-calc(30);
      font-weight: 300;
    }

    .alt {
      padding-right: 0;

      span {
        font-family: $font-family-heading;
        font-size: rem-calc(17);
        font-weight: normal;
        text-transform: uppercase;
      }
    }

    .type {
      color: $primary;

      svg {
        position: absolute;
        top: 50%;
        left: -0.25rem;
        transform: translateY(-50%);
      }
    }

    & > span:not(.alt) {
      & + span {
        padding-left: 0.75rem;

        &:after {
          content: "";
          position: absolute;
          top: 50%;
          left: 0;
          height: rem-calc(16);
          width: 1px;
          background-color: $dark;
          transform: translateY(-55%);
        }
      }
    }

    .location {
      padding-left: 1.5rem;

      svg {
        position: absolute;
        top: 50%;
        left: 0;
        transform: translateY(-55%);
      }
    }

    span + .location,
    span + .attachment {
      padding-left: 2.5rem !important;

      svg {
        left: 1rem !important;
      }
    }

    .attachment {
      svg {
        position: absolute;
        top: 50%;
        left: 0;
        transform: translateY(-55%);
        fill: #6a6a6a;
      }
    }

    @include media-breakpoint-down(md) {
      .alt {
        width: 100%;
      }
    }
  }

  .search-result__header {
    h3.heading {     
      position: relative;
      font-family: $font-family-base;
      font-size: rem-calc(18);
      font-weight: 500;
    }
  }

  .search-result__content {
    :last-child {
      margin-bottom: 0;
    }
  }
}
