// =============================================================================
// Seasons grid
// =============================================================================

.seasons {
  display: flex;
  flex-wrap: wrap;

  & > li {
    width: percentage(1/2);

    // 2x2 grid display
    // -------------------------------------------------------------------------

    @include media-breakpoint-down(lg) {
      &:nth-child(4n+1),
      &:nth-child(4n+2) {
        padding-bottom: 1rem;
        border-bottom: 2px solid #d3d3d3;
      }

      &:nth-child(4n+3),
      &:nth-child(4n+4) {
        padding-top: 1rem;
      }

      &:nth-child(4n+1),
      &:nth-child(4n+3) {
        padding-right: 1em;
      }

      &:nth-child(4n+2),
      &:nth-child(4n+4) {
        padding-left: 1rem;
        border-left: 2px solid #d3d3d3;
      }
    }

    // 4x1 Quad grid display
    // -------------------------------------------------------------------------

    @include media-breakpoint-up(xl) {
      width: percentage(1/4);

      &:not(:first-child) {
        padding-left: 2rem;
        border-left: 2px solid #d3d3d3;
      }
    }
  }
}
