// =============================================================================
// Share Block
// =============================================================================

.share {
  color: #646262;

  ul {
    justify-content: space-between;

    li {
      margin: 1rem;
    }
  }

  a {
    display: block;
    transition: 0.1s ease-out;
    color: inherit;

    &:hover,
    &:focus {
      color: $primary;

      .icon {
        transform: scale(1.25);
      }
    }
  }

  .icon {
    transition: 0.1s ease-out;
  }

  .btn {
    padding: 0;
    transition: 0.1s ease-out;
    color: inherit;
    
    &:hover,
    &:focus {
      box-shadow: none;
      color: $primary;

      .icon {
        transform: scale(1.25);
      }
    }
  }

  .heading {
    margin-top: 0.2rem;
    margin-bottom: 0;
    font-family: inherit;
    font-weight: 300;
    font-size: 14px;
  }

  // Print
  // ---------------------------------------------------------------------------

  .print {
    @include media-breakpoint-down(md) {
      display: none;
    }
  }

  // Scedule an Appointment
  // ---------------------------------------------------------------------------

  .schedule-appt {
    line-height: 1.2;

    a {
      display: flex;
      align-items: center;
    }

    .small {
      display: block;
      margin-left: 0.3em;
    }
  }

  // ---------------------------------------------------------------------------
  // Sidebar Specific Share instance
  // ---------------------------------------------------------------------------

  .page-sidebar & {
    @include media-breakpoint-up(lg) {
      margin-top: -1.4rem;
      margin-left: -1.8rem;

      ul {
        width: rem-calc(60);
        flex-direction: column;
        align-items: center;
      }
    }
  }
}
