// =============================================================================
// Buttons
// =============================================================================

// Solid button rest / Outline on hover
// Borrows a lot from the 'button-varient' bootstrap mixin
// -----------------------------------------------------------------------------

@mixin button-solid-then-outline-on-hover($background: $primary, $border: $primary, $hover-border: $primary, $hover-background: transparent) {
  border-color: $border;
  background-color: $background;
  color: color-yiq($background);

  @include hover() {
    border-color: $hover-border;
    background-color: $hover-background;
    color: $background;
  }

  &:focus,
  &.focus {
    border-color: $hover-border;
    background-color: $hover-background;
    color: $background;

    @if $enable-shadows {
      @include box-shadow($btn-box-shadow, 0 0 0 $btn-focus-width rgba(mix(color-yiq($background), $border, 15%), .5));
    } @else {
      box-shadow: 0 0 0 $btn-focus-width rgba(mix(color-yiq($background), $border, 15%), .5);
    }
  }
}

// Standard Button Base Mixin
// -----------------------------------------------------------------------------

@mixin btn-standard() {
  display: block;
  padding: 0.85em 2em;
  font-weight: 500;
  font-family: $font-family-heading;
  font-size: rem-calc(18);
  letter-spacing: 0.025em;
  line-height: 1.5;
  text-transform: uppercase;

  @include media-breakpoint-up(md) {
    display: inline-block;
  }

  @include media-breakpoint-up(lg) {
    padding: 0.65em 2em;
    font-size: 0.9rem;
  }
}
