// =============================================================================
// Banner Dropdown Mixin
// =============================================================================

@mixin banner-dropdown() {
  margin-top: 2rem;

  button.dropdown-toggle {
    position: relative;
    z-index: 2;
    min-width: 17rem;
    border-radius: 1.5rem;
    border-width: 2px;
    padding: 0.75rem 3rem 0.75rem 1rem;
    color: white;
    font-family: $font-family-heading;
    font-size: rem-calc(18);
    font-weight: normal;
    line-height: 1.2;
    text-align: left;
    text-transform: uppercase;
    letter-spacing: 0.025em;
    transition: 0.1s ease-out;

    @include media-breakpoint-up(lg) {
      font-size: rem-calc(15);
    }

    &:after {
      content: none;
    }

    .icon {
      position: absolute;
      top: 50%;
      right: 1.25rem;
      font-size: rem-calc(5);
      transform: translateY(-50%);
    }

    &:hover,
    &:focus {
      box-shadow: none !important;
      background-color: $tertiary;
      color: $dark;
    }

    &:active {
      box-shadow: none;
    }

    &[aria-expanded="true"] {
      background-color: $primary;
      border-color: $primary;
      border-radius: 1.5rem 1.5rem 0 0;
      color: $gold;

      .icon {
        transform: rotate(-180deg) translateY(50%);
      }
    }

    @include media-breakpoint-down(md) {
      width: 100%;
    }
  }

  .dropdown-menu {
    z-index: 1;
    min-width: 17rem;
    top: -0.5rem !important;
    background-color: $primary;
    margin-top: 0;
    margin-bottom: 0;
    padding: 0 0 0.5rem;
    border: none;
    transition: 0.2s ease-out;
    border-radius: 0 0 1.5rem 1.5rem;
    overflow: hidden;

    a.dropdown-item {
      padding: 0.5rem 1rem;
      color: white;
      font-family: $font-family-heading;
      font-size: rem-calc(16);
      line-height: 1.3;
      text-transform: uppercase;
      letter-spacing: 0.025em;
      text-shadow: none;
      transition: 0.2s ease-in-out;
      white-space: normal;

      @include media-breakpoint-up(lg) {
        font-size: rem-calc(12);
      }

      &:hover,
      &:focus {
        background-color: transparent;
        text-decoration: underline;
        color: $tertiary;
      }
    }

    @include media-breakpoint-down(md) {
      width: 100%;
    }
  }
}
