// -----------------------------------------------------------------------------
// Max Lines :: Properly truncates text at a specific number of lines.
// -----------------------------------------------------------------------------

@mixin max-lines($lines: 2) {
  display: -webkit-box;
  -webkit-line-clamp: $lines;
  -webkit-box-orient: vertical;
  overflow: hidden;
}
