// =============================================================================
// Term Navigation Menu
// =============================================================================

.term-navigation {
  @include media-breakpoint-down(sm) {
    margin: 0 -#{map-get($container-max-offsets, 'xs')};
  }
  
  @include media-breakpoint-down(md) {
    margin: 0 -#{map-get($container-max-offsets, 'sm')};
    background-color: $tertiary;
  }

  @include media-breakpoint-up(lg) {
    margin: rem-calc(0 0 45);
  }

  // Toggle Button/Link
  // ---------------------------------------------------------------------------

  .term-navigation-toggle {
    @include media-breakpoint-down(sm) {
      padding: 0 map-get($container-max-offsets, 'xs');
    }

    @include media-breakpoint-down(md) {
      display: flex;
      padding: 0 map-get($container-max-offsets, 'sm');
      align-items: center;
      justify-content: space-between;
      transition: 0.2s ease-out;
      background-color: $tertiary;
    }

    @include media-breakpoint-up(lg) {
      margin-bottom: 1em;
    }

    // Toggle Link
    // -------------------------------------------------------------------------

    .term-navigation-toggle__link {
      display: inline-block;
      letter-spacing: 0.025em;
      text-transform: uppercase;
      font-family: $font-family-heading;
      font-size: rem-calc(18);
      color: inherit;

      &.active {
        font-weight: 500;
      }

      @include media-breakpoint-down(md) {
        padding: 1.3rem 0;
      }

      @include media-breakpoint-up(lg) {
        font-size: rem-calc(22);

        &:hover,
        &:focus {
          color: $secondary;
        }

        &.active {
          color: $primary;
        }
      }
    }

    // Mobile Toggle Button
    // -------------------------------------------------------------------------

    .term-navigation-toggle__button {
      padding: rem-calc(12);
      border-radius: 100%;

      @include media-breakpoint-up(lg) {
        display: none;
      }

      svg {
        display: block;
        border-radius: 100%;
        transition: 0.2s ease-out;
        background-color: white;
        fill: $dark;
      }

      &:hover,
      &:focus {
        outline-color: $tertiary;
        box-shadow: none;

        svg {
          background-color: $primary;
          fill: white;
        }
      }
    }
  }

  // Mobile Menu Expanded
  // ---------------------------------------------------------------------------

  &.term-navigation-menu--expanded {
    .term-navigation-toggle__button {
      svg {
        transform: rotate(-45deg);
      }
    }
  }

  // Term navigation menu
  // ---------------------------------------------------------------------------

  .term-navigation-menu {
    flex-wrap: nowrap;
    flex-direction: column;

    @include media-breakpoint-down(sm) {
      padding: 0 map-get($container-max-offsets, 'xs');
    }

    @include media-breakpoint-down(md) {
      height: 0;
      padding: 0 map-get($container-max-offsets, 'sm');
      overflow: hidden;
      border: 0 solid rgba(white, 0.21);
      transition: 0.3s ease-out;
      visibility: hidden;
      opacity: 0;
    }

    @include media-breakpoint-up(lg) {
      border-top: 5px solid $tertiary;
      padding-top: 1rem;
      font-size: 0.9rem;
    }
  }

  @include media-breakpoint-down(md) {
    &.term-navigation-menu--expanded {
      .term-navigation-menu {
        height: auto;
        padding-top: 2rem;
        padding-bottom: 2rem;
        border-width: 5px 0;
        visibility: inherit;
        opacity: 1;
      }
    }
  }

  // Navigation list item
  // ---------------------------------------------------------------------------

  .nav-item {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
  }

  // Navigation Link
  // ---------------------------------------------------------------------------

  .nav-link {
    position: relative;
    z-index: 2;
    flex-grow: 1;
    padding: 0.75rem 0;
    max-width: calc(100% - #{rem-calc(24)});
    letter-spacing: 0.025em;
    background-color: $tertiary;
    color: inherit;

    @include media-breakpoint-up(lg) {
      padding: 0.2rem 0;
      background-color: white;
      color: inherit;
    }

    &:focus,
    &:hover {
      outline-offset: -1px;
      text-decoration: underline;

      @include media-breakpoint-up(lg) {
        color: $secondary;
      }
    }

    &.active {
      font-weight: bold;
      text-decoration: underline;

      @include media-breakpoint-up(lg) {
        color: $primary;
      }
    }

    // Primary navigation link
    // -------------------------------------------------------------------------

    &.l1 {
      @include media-breakpoint-down(md) {
        padding: 1rem 0;
        font-size: rem-calc(18);
        text-transform: uppercase;
        font-family: $font-family-heading;    
      }
    }
  }

  // Navigation Dropdown Menu Toggle button
  // ---------------------------------------------------------------------------

  .subnav-toggle {
    position: relative;
    z-index: 3;
    padding: rem-calc(12);
    margin-left: auto;
    flex-shrink: 0;
    flex-grow: 0;
    line-height: 1;
    border-radius: 100%;

    @include media-breakpoint-up(lg) {
      padding: 0;
    }

    svg {
      display: block;
      border: 1px solid $dark;
      border-radius: 100%;
      transition: 0.1s ease-out;
      line-height: 1;
      fill: $dark;

      @include media-breakpoint-up(lg) {
        width: rem-calc(20);
        height: rem-calc(20);
        fill: currentColor;
        line-height: 1;
        border: none;
      }
    }

    &[aria-expanded=true] svg {
      transform: rotate(-45deg);
    }

    &:hover,
    &:focus {
      @include media-breakpoint-down(md) {
        svg {
          border-color: $primary;
          background-color: $primary;
          fill: white;
        }
      }

      @include media-breakpoint-up(lg) {
        background-color: $light;
      }
    }

    &:focus {
      box-shadow: 0 0 0 0.2rem $tertiary;

      @include media-breakpoint-up(lg) {
        box-shadow: inset 0 0 0 1px rgba($primary, 0.5);
      }
    }
  }
  
  // Primary level differs from the rest
  // ---------------------------------------------------------------------------

  .nav-link.l1 + button {
    @include media-breakpoint-down(md) {
      svg {
        background-color: $dark;
        fill: $tertiary;
      }
  
      &:hover,
      &:focus {
        svg {
          border-color: $primary;
          background-color: $primary;
          fill: white;
        }
      }
    }
  }

  // Navigation List
  // ---------------------------------------------------------------------------

  .subnav-menu {
    position: relative;
    z-index: 1;
    width: 100%;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    
    @include media-breakpoint-down(md) {
      padding-left: 0;

      .l2 + button + ul {
        padding-left: 1.5rem;

        &:before {
          content: '';
          position: absolute;
          top: 1rem;
          left: 0;
          bottom: 2rem;
          border-left: 3px solid $primary;
        }
      }
    }

    @include media-breakpoint-up(lg) {
      padding-left: 0.75rem;
    }
  }

  @include media-breakpoint-up(lg) {
    .l1 + button + ul {
      &:before {
        content: '';
        position: absolute;
        top: 0.35rem;
        left: 0;
        bottom: 1.35rem;
        border-left: 4px solid $light;
      }
    }
  }

  // Dropdown Menu
  // ---------------------------------------------------------------------------

  .subnav-menu {
    height: 0;
    overflow: hidden;
    visibility: hidden;
    opacity: 0;
    margin-top: -1rem;
    transition: opacity 0.1s, visibility 0.3s, padding 0.3s ease-out, margin 0.3s ease-out;
  }

  // Navigation Dropdown Menu :: Expanded State
  // ---------------------------------------------------------------------------

  [aria-expanded=true] + .subnav-menu {
    height: auto;
    margin-top: 0;
    overflow: inherit;
    padding-bottom: 1rem;
    visibility: inherit;
    opacity: 1;
  }
}
