// =============================================================================
// Global Elements
// =============================================================================

html {
  font-size: $custom-font-size-base;
  letter-spacing: 0.02em;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;

  @include media-breakpoint-up(xl) {
    font-size: ($custom-font-size-base / map-get($grid-breakpoints, 'xl')) * 100vw;
  }
  
  @include media-breakpoint-up(max) {
    font-size: ($custom-font-size-base / map-get($grid-breakpoints, 'xl')) * map-get($grid-breakpoints, 'max');
  }
}

body {
  overscroll-behavior: none;
  overflow-x: hidden;
}

h1, .h1 {
  line-height: 1.1;
  letter-spacing: normal;
  text-transform: uppercase;
  font-family: $font-family-heading;
  font-size: rem-calc(50);
  font-weight: 300;
  color: $primary;

  @include media-breakpoint-up(lg) {
    font-size: rem-calc(68);
  }
}

h2, .h2 {
  line-height: 1.2;
}

h3, .h3 {
  margin-bottom: 1rem;
  line-height: 1.3;
  letter-spacing: 0.025em;
  font-family: $font-family-heading;
  font-weight: 400;
}

h4, .h4 {
  line-height: 1.4;
  font-weight: 500;
  color: $primary;
}

h5, .h5 {
  letter-spacing: 0.025em;
  text-transform: uppercase;
  font-family: $font-family-heading;
  font-weight: 400;
}

h6, .h6 {
  font-weight: 500;
  color: $primary;
}

img {
  max-width: 100%;
  height: auto;
}
