// =============================================================================
// Home :: Choices
// =============================================================================

section.choices {
  position: relative;
  z-index: 3;

  .nav {
    @include media-breakpoint-down(md) {
      margin-top: -2vw;
    }

    @include media-breakpoint-up(lg) {
      margin: 0 -2.5vw;
      transform: skewX(-7deg);
    }
  }

  // Iterative item
  // ---------------------------------------------------------------------------

  .nav-item {
    width: 100%;

    @include media-breakpoint-up(lg) {
      width: 25%;
    }
  }
  
  // Iterative link
  // ---------------------------------------------------------------------------
  
  .nav-link {
    position: relative;
    padding: 0;
    min-height: 265px;
    max-height: 750px;

    @include media-breakpoint-up(lg) {
      overflow: hidden;
      height: 40vw;
    }

    // Color overlay
    // -------------------------------------------------------------------------

    &:after {
      content: '';
      position: absolute;
      z-index: 2;
      top: -1px;
      left: -1px;
      right: -1px;
      bottom: -1px;
      opacity: 0.85;
      transition: opacity 0.3s ease-out;
      transform: skewY(-2deg);
      
      @include media-breakpoint-up(lg) {
        transform: none;
      }
    }
  }

  // Heading
  // ---------------------------------------------------------------------------

  .heading {
    position: absolute;
    z-index: 3;
    top: 0;
    left: 0;
    right: 0;
    padding: 60px 36px;
    letter-spacing: 0.02em;
    font-weight: 500;
    font-size: 28px;
    color: white;

    @include media-breakpoint-up(lg) {
      padding: 60px;
      transform: skewX(7deg);
    }

    &:after {
      content: '';
      display: block;
      margin-top: 0.65em;
      width: 70px;
      height: 5px;
      transition: width 0.3s $easeOutBack;
      background: $tertiary;
    }
  }

  // Image
  // ---------------------------------------------------------------------------

  .image {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    transform: skewY(-2deg);
    background-position: 50% 50%;
    background-size: cover;

    @include media-breakpoint-up(lg) {
      left: -2.5vw;
      right: -2.5vw;
      transform: skewX(7deg);
    }
  }

  // Alternate colors based on order
  // ---------------------------------------------------------------------------

  .nav-item {
    position: relative;

    &:nth-child(odd) .nav-link:after {
      background-image: linear-gradient(to bottom, $blue 25%, rgba($blue, 0));
    }

    &:nth-child(even) .nav-link:after {
      background-image: linear-gradient(to bottom, $blue-lt 25%, rgba($blue-lt, 0));
    }

    @include media-breakpoint-up(lg) {
      &:first-child .heading {
        left: 1.25vw;
      }

      &:last-child .heading {
        right: 1.25vw;
      }
    }
  }

  // Hover & Focus states
  // ---------------------------------------------------------------------------

  .nav-link {
    &:hover,
    &:focus {
      &:after {
        backface-visibility: hidden;
        opacity: 1;
      }

      .heading:after {
        width: 105px;
      }
    }
  }
}
