// =============================================================================
// Page
// =============================================================================

.page-main {
  & > .container-max {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    margin-bottom: 3.5rem;

    @include media-breakpoint-up(lg) {
      flex-direction: row;
    }
  }
}

.page-center {
  position: relative;
  flex-grow: 1;
  margin-bottom: rem-calc(40);

  @include media-breakpoint-up(lg) {
    width: 50%;
    margin-bottom: rem-calc(48);
  }
}

.page-sidebar {
  @include media-breakpoint-up(lg) {
    width: 25%;
  }
}

.page-sidebar-inner.sticky {
  @include media-breakpoint-up(lg) {
    position: sticky;
    top: rem-calc(map-get($header-height, 'lg') + 45);
  }

  @include media-breakpoint-up(xl) {
    top: rem-calc(map-get($header-height, 'xl') + 45);
  }
}

.page-sidebar--left {
  @include media-breakpoint-down(md) {
    order: -1;
  }

  .page-sidebar-inner {
    @include media-breakpoint-up(lg) {
      margin-right: rem-calc(45);
    }
  }
}

.page-sidebar--right {
  .page-sidebar-inner {
    @include media-breakpoint-up(lg) {
      margin-left: rem-calc(45);
    }
  }
}
