// =============================================================================
// AREAS OF STUDY :: TEASERS
// =============================================================================

.section__program-teasers {
  padding: 2rem 0;

  @include media-breakpoint-up(lg) {
    padding-top: 4rem;
    padding-bottom: 4rem;
  }

  .program__teasers {
    @include media-breakpoint-up(lg) {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      margin: 0 -1rem;
    }

    @include media-breakpoint-up(xl) {
      margin-left: -2rem;
      margin-right: -2rem;
    }
  }

  .program__teaser {
    padding-top: 2rem;
    margin: 2rem 0;
    border-top: 5px solid $tertiary;

    @include media-breakpoint-up(lg) {
      width: calc(#{percentage(1/2)} - 2rem);
      margin-left: 1rem;
      margin-right: 1rem;
    }

    @include media-breakpoint-up(xl) {
      width: calc(#{percentage(1/3)} - 4rem);
      margin-left: 2rem;
      margin-right: 2rem;
    }
  }

  .program__teaser-heading {
    font-size: rem-calc(22);
    text-transform: uppercase;
  }

  .program__teaser-content {
    font-size: rem-calc(18);
    font-weight: 300;
  }

  .readmore {
    display: inline-block;
    margin-top: 1.5rem;
  }
}
