// =============================================================================
// AREAS OF STUDY :: VIDEO
// =============================================================================

.sections__video {
  position: relative;
  text-align: center;
  border-top: 4.5rem solid white;
  background: url('https://prismic-io.s3.amazonaws.com/ucriverside/fd4db3d2-86fc-4018-836a-32a8055899f2_abstract-orange.svg') repeat-y 50% 50% $tertiary;
  background-size: cover;

  @include media-breakpoint-up(md) {
    border-top: 7.5rem solid white;
  }

  @include media-breakpoint-up(lg) {
    padding-bottom: 2rem;
  }

  .container-max {
    position: relative;
    transform: translateY(-4.5rem);

    @include media-breakpoint-up(md) {
      transform: translateY(-7.5rem);
    }

    @include media-breakpoint-up(lg) {
      padding-left: 12vw;
      padding-right: 12vw;
    }

    .inner {
      position: relative;
      overflow: hidden;

      &:before {
        content: "";
        position: absolute;
        z-index: 2;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        opacity: 0.52;
        transition: all 0.2s ease-out;
        background-image: linear-gradient(to top, $dark, rgba(black, 0));
        
        @include media-breakpoint-up(lg) {
          opacity: 1;
          background-image: linear-gradient(to top, #111, rgba(#111, 0) 80%);
        }
      }

      &:after {
        @include media-breakpoint-down(sm) {
          content: "";
          display: block;
          padding-bottom: 105%;
        }
      }
    }
  }

  // Play button overlay
  // -------------------------------------------------------------------------

  .button__play {
    display: block;
    position: absolute;
    z-index: 4;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    padding: 0;
    border-radius: 0;

    svg {
      box-shadow: inset 0 3px 6px rgba(black, 0.2);
      transition: all 0.2s ease-in;
      fill: currentColor;
      border-radius: 50rem;
      border: rem-calc(4) solid;
      color: white;
    }

    &:hover,
    &:focus {
      svg {
        background-color: $tertiary;
      }
    }

    &:active {
      svg {
        transform: scale(0.9);
      }
    }
  }

  img {
    width: 100%;
    max-width: none;

    @include media-breakpoint-down(sm) {
      position: absolute;
      top: 50%;
      left: 50%;
      width: 195%;
      transform: translate3d(-50%, -50%, 0);
    }
  }

  .video-heading {
    position: absolute;
    z-index: 2;
    left: 0;
    right: 0;
    bottom: 0;
    margin-bottom: 0;
    padding: rem-calc(25);
    background: rgba(black, 0.52);
    text-align: left;
    text-shadow: 0 3px 6px rgba(0, 0, 0, 0.25);

    @include media-breakpoint-up(lg) {
      padding: rem-calc(40 50);
      background: none;
    }
  }

  .heading {
    margin: 0;
    letter-spacing: 0.025em;
    text-transform: uppercase;
    font-family: $font-family-heading;
    font-size: rem-calc(18);
    font-weight: normal;
    transition: all 0.2s ease-in;
    color: white;

    @include media-breakpoint-up(lg) {
      font-size: rem-calc(30);
    }
  }

  .subheading {
    margin: 0.75rem 0 0;
    color: white;
    font-size: rem-calc(25);
    font-weight: 300;
    line-height: 1.3;

    @include media-breakpoint-down(md) {
      display: none;
    }
  }
}
