// =============================================================================
// AREAS OF STUDY :: VIDEO
// =============================================================================

.section__video {
  position: relative;
  text-align: center;
  border-top: 4.5rem solid white;
  background: url('https://prismic-io.s3.amazonaws.com/ucriverside/fd4db3d2-86fc-4018-836a-32a8055899f2_abstract-orange.svg') repeat-y 50% 50% $tertiary;
  background-size: cover;

  @include media-breakpoint-up(md) {
    border-top: 7.5rem solid white;
  }

  @include media-breakpoint-up(lg) {
    padding-bottom: 2rem;
  }

  .container-limited-max {
    position: relative;
    transform: translateY(-4.5rem);

    @include media-breakpoint-up(md) {
      transform: translateY(-7.5rem);
    }

    .inner {
      position: relative;
      overflow: hidden;

      &:before {
        content: "";
        position: absolute;
        z-index: 2;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        opacity: 0.52;
        transition: all 0.2s ease-out;
        background-image: linear-gradient(to top, $dark, rgba(black, 0));
        
        @include media-breakpoint-up(lg) {
          opacity: 1;
          background-image: linear-gradient(to top, #111, rgba(#111, 0) 80%);
        }
      }

      &:after {
        @include media-breakpoint-down(sm) {
          content: "";
          display: block;
          padding-bottom: 105%;
        }
      }
    }
  }

  .video-heading {
    position: absolute;
    z-index: 2;
    left: 0;
    right: 0;
    bottom: 0;
    margin-bottom: 0;
    padding: rem-calc(25);
    background: rgba(black, 0.52);
    text-align: left;
    text-shadow: 0 3px 6px rgba(0, 0, 0, 0.25);

    @include media-breakpoint-up(lg) {
      padding: rem-calc(40 50);
      background: none;
    }
  }
}
