// =============================================================================
// AREAS OF STUDY :: VIDEO
// =============================================================================

.section__video {
  position: relative;
  text-align: center;
  border-top: 4.5rem solid white;
  background: url('https://prismic-io.s3.amazonaws.com/ucriverside/fd4db3d2-86fc-4018-836a-32a8055899f2_abstract-orange.svg') repeat-y 50% 50% $tertiary;
  background-size: cover;

  @include media-breakpoint-up(md) {
    border-top: 7.5rem solid white;
  }

  @include media-breakpoint-up(lg) {
    padding-bottom: 2rem;
  }

  .container-limited-max {
    position: relative;
    transform: translateY(-4.5rem);

    @include media-breakpoint-up(md) {
      transform: translateY(-7.5rem);
    }
  }

  .video-heading {
    position: absolute;
    z-index: 2;
    left: 0;
    right: 0;
    bottom: 0;
    margin-bottom: 0;
    padding: rem-calc(25);
    background: rgba(black, 0.52);
    text-align: left;
    text-shadow: 0 3px 6px rgba(0, 0, 0, 0.25);
    color: white;

    @include media-breakpoint-up(lg) {
      padding: rem-calc(40 50);
      background: none;
    }

    h3 {
      margin-bottom: 0;
      text-transform: uppercase;
    }

    p {
      margin-top: 0.5rem;
      margin-bottom: 0;
      font-weight: 300;

      @include media-breakpoint-down(md) {
        display: none;
      }
    }
  }
}
