// =============================================================================
// Osher Lifelong Learning :: Featured Stories
// =============================================================================

.section__featured-stories {

  // Slider
  // ---------------------------------------------------------------------------

  .slider {
    margin-bottom: rem-calc(80);
    margin-left: -2rem;
    margin-right: -2rem;

    @include media-breakpoint-up(sm) {
      margin-left: -10vw;
      margin-right: -10vw;
    }

    @include media-breakpoint-up(lg) {
      display: flex;
      flex-wrap: wrap;
      margin-bottom: 0;
      margin-left: -1rem;
      margin-right: -1rem;

      &:before,
      &:after {
        content: '';
        position: absolute;
        z-index: 2;
        top: 0;
        bottom: 0;
        width: 1rem;

        @include media-breakpoint-up(xl) {
          width: 1.5rem;
        }
      }

      &:before {
        left: 0;
        background-image: linear-gradient(to right, white, rgba(white, 0));
      }

      &:after {
        right: 0;
        background-image: linear-gradient(to left, white, rgba(white, 0));
      }
    }

    @include media-breakpoint-up(xl) {
      margin-left: -1.5rem;
      margin-right: -1.5rem;
    }
  }  

  // Slide
  // ---------------------------------------------------------------------------

  .slide {
    width: 100%;
    min-height: 100%;
    padding: 0 2rem;
    margin: 0;
    opacity: 0;
    transition: opacity 0.2s ease-out;

    &.is-selected {
      opacity: 1;
    }

    display: flex;

    a.image {
      position: relative;

      &:before {
        content: "";
        display: block;
        padding-bottom: 70%;
      }

      figure {
        position: absolute;
        top: -1px;
        right: -1px;
        bottom: -1px;
        left: -1px;
        background: center / cover no-repeat;
        margin: 0;
      }
    }

    .content {
      flex-grow: 1;
      padding: 3rem 5vw;
      background: url('https://prismic-io.s3.amazonaws.com/ucriverside/6386e6c7-c87f-414b-8bb7-d6ccf2510bc7_pod-bg.svg') center 20px / 100% repeat-y $primary;

      .type {
        margin-bottom: 1.5rem;
        color: white;
        font-family: $font-family-heading;
        font-size: rem-calc(16);
        line-height: 1;
        text-transform: uppercase;
      }

      h3.heading {
        margin-bottom: 1.5rem;
        color: white;
        font-size: rem-calc(23);
      }

      a.btn-overview {
        color: white;

        &:hover,
        &:focus {
          color: $dark;
        }
      }
    }

    @include media-breakpoint-down(md) {
      flex-direction: column;
    }

    @include media-breakpoint-up(sm) {
      padding: 0 10vw;
    }

    @include media-breakpoint-up(lg) {
      display: flex;
      padding: 0 1rem;

      a.image {
        width: 55%;
      }

      .content {
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 45%;

        & > * {
          align-self: flex-start;
        }
      }
    }
  
    @include media-breakpoint-up(xl) {
      padding: 0 1.5rem;
    }
  }

  // Flickity
  // ---------------------------------------------------------------------------
  
  .flickity-viewport {
    width: 100%;
    margin: 0;
  }

  // Flickity prev/next buttons
  // ---------------------------------------------------------------------------

  .flickity-prev-next-button {
    z-index: 3;
    top: 50%;
    transform: translateY(-50%);
    font-size: 3rem;
    height: rem-calc(30);
    width: rem-calc(30);
    color: $dark;

    .flickity-button-icon {
      left: 20%;
      top: 20%;
      width: 60%;
      height: 60%;
    }
  
    @include media-breakpoint-down(md) {
      display: none;
    }
  
    @include media-breakpoint-up(xl) {
      font-size: 1rem;
    }
  
    &.previous {
      left: 0;
      margin-left: -0.75em;

      @include media-breakpoint-up(xl) {
        margin-left: -1.25rem;
      }
    }
  
    &.next {
      right: 0;
      margin-right: -0.75em;

      @include media-breakpoint-up(xl) {
        margin-right: -1.25rem;
      }
    }

    &:hover,
    &:active {
      box-shadow: 0 0 0 5px $tertiary;
      background-color: $tertiary;
    }
  }

  // Flickity page dots
  // ---------------------------------------------------------------------------

  .flickity-page-dots {
    bottom: rem-calc(-60);
  }

  .dot {
    background-color: #d3d3d3;
    opacity: 1;
    transition: all 0.2s ease-in-out;

    &.is-selected {
      background-color: $primary;
    }
  
    @include media-breakpoint-only(md) {
      width: rem-calc(20);
      height: rem-calc(20);
    }
  
    &:not(.is-selected):hover {
      opacity: 0.75;
    }
  }
}
