// =============================================================================
// Banner :: What's New
// =============================================================================

.banner {
  .subheading {
    margin-top: 1rem;
    font-size: rem-calc(18);
    font-weight: 300;
    color: $dark;
  }
}
