// =============================================================================
// Blockquote
// =============================================================================

.blockquote {
  margin: 2rem 0;
  padding: 0 0.65rem;
  border-left: 5px solid $tertiary;
  letter-spacing: 0.02em;
  font-style: italic;
  line-height: 1.35;
  color: $primary;

  &:before {
    content: '\201C';
  }

  &:after {
    content: '\201D';
  }
}
