// =============================================================================
// Breadcrumbs
// =============================================================================

.breadcrumbs {
  width: 100%;
  flex-shrink: 0;
  margin: rem-calc(40 0);

  @include media-breakpoint-up(lg) {
    margin-bottom: rem-calc(48);
  }

  a {
    color: inherit;
  }

  a:focus,
  a:hover {
    color: $secondary;
  }

  .breadcrumb {
    @include media-breakpoint-up(lg) {
      font-size: rem-calc(12);
    }
  }
}
