// =============================================================================
// Breadcrumb
// =============================================================================

.breadcrumb {
  a {
    color: inherit;
  }

  a:focus,
  a:hover {
    color: $secondary;
  }
}
