// =============================================================================
// Bootstrap :: Custom Buttons
// =============================================================================

// More Button
// -----------------------------------------------------------------------------

.btn-more {
  @include btn-standard();

  border-radius: 0;

  svg {
    display: inline-block;
    margin-top: -0.2em;
    margin-left: 0.8em;
    transition: transform 0.15s ease-out;
    fill: $tertiary;
  }

  &:hover,
  &:focus,
  &.focus {
    svg {
      transform: translateX(0.2em);
    }
  }

  &.btn-primary {
    @include hover() {
      background-color: transparent;
      color: $primary;
    }

    &.focus,
    &:focus {
      background-color: transparent;
      color: $primary;
    }
  }

  &.btn-secondary {
    @include hover() {
      background-color: transparent;
      color: $secondary;
    }

    &.focus,
    &:focus {
      background-color: transparent;
      color: $secondary;
    }
  }
}

// Overview Button
// -----------------------------------------------------------------------------

.btn-overview {
  @include btn-standard();
  @include btn-round();

  border: 2px solid $tertiary;
  transition: background-color 0.2s ease-in-out;
  color: $dark;

  &:hover,
  &:focus,
  &.focus {
    background-color: $tertiary;
    color: $dark;
    text-decoration: none;
  }
}

// All Button with More arrow icon
// -----------------------------------------------------------------------------

.btn-all {
  display: inline-flex;
  align-items: center;
  line-height: 1.5;
  font-weight: 500;
  font-size: rem-calc(18);
  font-family: $font-family-heading;
  letter-spacing: 0.025em;
  text-transform: uppercase;
  color: $dark;

  @include media-breakpoint-up(lg) {
    font-size: 0.94rem;
  }

  .icon {
    width: rem-calc(18);
    height: rem-calc(18);
    margin-left: 0.3em;
    transition: 0.2s ease-out;
    color: $tertiary;
  }

  &:hover,
  &:focus,
  &.focus {
    text-decoration: underline;
    color: $primary;

    .icon {
      transform: translateX(0.2em);
    }
  }
}

// Standard button style modifier
// -----------------------------------------------------------------------------

.btn-standard {
  @include btn-standard();
}

// Round button style modifier
// -----------------------------------------------------------------------------

.btn-round {
  @include btn-round();
}
