// =============================================================================
// Bootstrap :: Custom Buttons
// =============================================================================

// More Button
// -----------------------------------------------------------------------------

.btn-more {
  @include btn-standard();

  border-radius: 0;

  svg {
    display: inline-block;
    margin-top: -0.2em;
    margin-left: 0.8em;
    transition: transform 0.15s ease-out;
    fill: $tertiary;
  }

  &:hover,
  &:focus,
  &.focus {
    svg {
      transform: translateX(0.2em);
    }
  }

  &.btn-primary {
    @include hover() {
      background-color: transparent;
      color: $primary;
    }

    &.focus,
    &:focus {
      background-color: transparent;
      color: $primary;
    }
  }

  &.btn-secondary {
    @include hover() {
      background-color: transparent;
      color: $secondary;
    }

    &.focus,
    &:focus {
      background-color: transparent;
      color: $secondary;
    }
  }
}

// Overview Button
// -----------------------------------------------------------------------------

.btn-overview {
  @include btn-standard();
  @include btn-round();

  border: 2px solid $tertiary;
  transition: background-color 0.2s ease-in-out;
  color: $dark;

  &:hover,
  &:focus,
  &.focus {
    background-color: $tertiary;
    color: $dark;
    text-decoration: none;
  }
}

.btn-standard {
  @include btn-standard();
}

.btn-round {
  @include btn-round();
}
