// =============================================================================
// Bootstrap :: Custom Container Options
// =============================================================================

$container-max: 1920px !default;

// Allows the container to maintain gutters while maximizing the width of the
// container.
.container-max {
  max-width: $container-max;
  margin-left: auto;
  margin-right: auto;
  padding-left: 10vw; // 10% of the screen width eg. 37.5px@375px 
  padding-right: 10vw; // 10% of the screen width eg. 76.8px@768px

  @include media-breakpoint-up(lg) {
    padding-left: 12.5vw; // 12.5% of the screen width eg. 180px@1440px
    padding-right: 12.5vw; // 12.5% of the screen width eg. 240px@1920px
  }
}
