// =============================================================================
// Containers
// =============================================================================

.container {
  max-width: 1920px;
  margin: 0 auto;
  padding-left: 2rem;
  padding-right: 2rem;

  @include media-breakpoint-up(sm) {
    padding-left: 10vw;
    padding-right: 10vw;
  }

  @include media-breakpoint-up(lg) {
    padding-left: 7.5vw;
    padding-right: 7.5vw;
  }

  @include media-breakpoint-up(max) {
    padding-left: 144px;
    padding-right: 144px;
  }
}
