// =============================================================================
// Icons
// =============================================================================

.icon {
  display: inline-block;
  fill: currentColor;

  // Adds dynamic icon sizing by using rem values as measurements.
  $iconSizes: 12, 20, 24, 28, 32, 36, 44, 86;
  @each $size in $iconSizes {
    &.icon-#{$size} {
      width: rem-calc($size);
      height: rem-calc($size);
    }
  }
}
