// =============================================================================
// Pod
// =============================================================================

.pod {
  display: block;
  overflow: hidden;
  position: relative;
  margin-bottom: rem-calc(20);
  transition: 0.2s ease-out;
  color: white;

  &.no-image {
    background: url('https://prismic-io.s3.amazonaws.com/ucriverside/6386e6c7-c87f-414b-8bb7-d6ccf2510bc7_pod-bg.svg') repeat-y center 20px transparent;
  }

  &:hover,
  &:focus {
    outline-offset: 0;
    outline: 5px solid $tertiary;
    text-decoration: none;
    color: white;
  }

  // Heading
  // ---------------------------------------------------------------------------

  .pod-heading {
    position: relative;
    z-index: 2;
    padding: rem-calc(20 20 24);
    transition: 0.2s ease-out;
  }

  &:hover,
  &:focus {
    .pod-heading {
      transform: translate3d(0, -1rem, 0);
    }
  }
  
  .heading {
    position: relative;
    padding-top: rem-calc(20);
    font-family: $font-family-base;
    font-weight: 500;
    line-height: 1.2;

    // Orange Separator
    // -------------------------------------------------------------------------

    &:before {
      content: '';
      position: absolute;
      z-index: 2;
      bottom: rem-calc(-16);
      left: 0;
      height: 5px;
      width: rem-calc(45);
      background: $tertiary;
    }

    // Icon
    // -------------------------------------------------------------------------

    svg {
      display: block;
      margin-bottom: rem-calc(10);
    }
  }

  // Offset heading
  // -------------------------------------------------------------------------

  .pod-image + .pod-heading .heading {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 100%;
    margin-bottom: -1px;
    padding-top: rem-calc(40);
    padding-left: rem-calc(20);
    padding-right: rem-calc(20);

    &:before {
      left: rem-calc(20);
    }
  }

  .subheading {
    position: relative;
    margin-bottom: 0;
    padding-top: rem-calc(8);
    font-size: rem-calc(14);
  }

  // Odd/Even color scheme
  // -------------------------------------------------------------------------

  &:nth-child(odd) {
    background-color: $primary;

    &.has-image {
      .pod-heading {
        background-color: $primary;

        .heading {
          background-image: linear-gradient(to bottom, rgba($primary, 0) 0, $primary 90px);
        }
      }
    }
  }

  &:nth-child(even) {
    background-color: $secondary;

    &.has-image {
      .pod-heading {
        background-color: $secondary;

        .heading {
          background-image: linear-gradient(to bottom, rgba($secondary, 0) 0, $secondary 90px);
        }
      }
    }
  }
}
