// =============================================================================
// Program Teaser
// =============================================================================

.program {
  display: flex;
  flex-direction: column;
  transition: 0.2s ease-out;
  outline: 0 solid white;
  background: url('https://prismic-io.s3.amazonaws.com/ucriverside/6386e6c7-c87f-414b-8bb7-d6ccf2510bc7_pod-bg.svg') center 20px / 100% repeat-y $primary;
  color: inherit;

  @include media-breakpoint-up(xl) {
    background-size: contain;
  }

  &:hover,
  &:focus {
    outline-offset: 0;
    outline: 5px solid $tertiary;
    text-decoration: none;
    color: inherit;
  }

  // Header
  // ---------------------------------------------------------------------------

  .header {
    background-color: $light;
    padding: rem-calc(8 24 16);
  }

  .heading {
    @include media-breakpoint-up(md) {
      height: 3.9rem;
      overflow: hidden;
  
      @include max-lines(2);
    }
  }

  // Type
  // ---------------------------------------------------------------------------

  .type {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 1.2rem;
    border-bottom: 5px solid;
    font-family: $font-family-heading;
    text-transform: uppercase;
    letter-spacing: 0.025em;
    line-height: 2;

    &.type__certificate {
      border-color: $primary;
    }

    &.type__international {
      border-color: $blue-ot;
    }

    &.type__credential {
      border-color: $tertiary;
    }

    &.type__bootcamp {
      border-color: $green;
    }

    &.type__course {
      border-color: $dark;
    }

    .icon {
      margin-right: -0.2rem;
    }
  }

  // Body
  // ---------------------------------------------------------------------------

  .body {
    padding: rem-calc(20);
    color: $tertiary;

    .icon {
      margin-right: 0.5em;
    }

    strong {
      padding-left: 0.5em;
      font-weight: normal;
      color: white;
    }
  }

  // Details
  // ---------------------------------------------------------------------------

  ul.details {
    padding-left: 0;
    list-style-type: none;
    text-transform: uppercase;
    line-height: 2.5;
    font-family: $font-family-heading;

    li {
      display: flex;
      align-items: center;
    }
  }

  // Disclaimer
  // ---------------------------------------------------------------------------

  .disclaimer {
    margin-top: -1.5em;
    font-size: 0.75rem;
    color: white;
  }

  // Start Date
  // ---------------------------------------------------------------------------

  .startdate {
    font-size: 0.8rem;

    &:before {
      content: '';
      display: block;
      width: rem-calc(30);
      height: 1px;
      margin: 0.75rem 0;
      background: white;
    }
  }

  // Footer (faux button)
  // ---------------------------------------------------------------------------
  
  footer.more {
    display: flex;
    margin-top: auto;
    align-items: center;
    justify-content: space-between;
    padding: rem-calc(20);
    font-family: $font-family-heading;
    letter-spacing: 0.025em;
    text-transform: uppercase;
    transition: 0.2s ease-out;
    background-color: #0747b4;
    color: white;

    .icon {
      display: inline-block;
      box-sizing: content-box;
      border-radius: 100%;
      padding: 0.3rem;
      transition: 0.2s ease-out;
      background-color: white;
      color: $primary;
    }

    &:hover {
      text-decoration: underline;
      color: $tertiary;

      .icon {
        transform: scale(1.25);
        background-color: $tertiary;
        color: $dark;
      }
    }
  }

  // Accordion version
  // ---------------------------------------------------------------------------

  .accordion & {
    width: calc(100% - 1.5rem);
    margin-left: 0.75rem;
    margin-right: 0.75rem;
    margin-bottom: 1.5rem;

    header {
      padding: 0;
      background-color: white;
    }

    .type {
      font-size: 0;
      margin: 0;
      border-color: $tertiary;
      transition: 0.2s ease-out;

      .icon { display: none; }
    }

    .heading {
      padding: rem-calc(20);
      margin-bottom: 0 !important;
    }

    @include media-breakpoint-up(lg) {
      width: calc(50% - 1.5rem);
    }

    @include media-breakpoint-up(xl) {
      width: calc(#{percentage(1/3)} - 1.5rem);
    }

    &:hover,
    &:focus {
      .type {
        transform: translateY(-5px);
        opacity: 0;
      }
    }
  }
}
