// =============================================================================
// Readmore style
// =============================================================================

.readmore {
  position: relative;
  text-decoration: underline;
  font-weight: 500;
  transition: color 0.2s ease-out;

  &:after {
    content: '\2192';
    position: absolute;
    top: 50%;
    left: 100%;
    transform: translateY(-50%);
    transition: transform 0.2s ease-out;
    opacity: 0;
  }

  &:focus,
  &:hover {
    &:after {
      opacity: 1;
      transform: translateX(0.3em) translateY(-50%);
    }
  }
}