// =============================================================================
// TABLES
// =============================================================================

.table {
  .thead-primary {
    th {
      border-color: $secondary;
      background-color: $primary;
      color: white;
    }
  }

  th {
    font-family: $font-family-heading;
    text-transform: uppercase;
    font-weight: normal;
  }

  tbody,
  tfoot {
    font-weight: 300;
  }
}
