// =============================================================================
// TABLES
// =============================================================================

.table {
  background-color: white;

  .thead-primary {
    th {
      border-color: $secondary;
      border-bottom-color: inherit;
      background-color: $primary;
      color: white;
    }
  }

  th {
    font-family: $font-family-heading;
    text-transform: uppercase;
    font-weight: normal;
  }

  tbody,
  tfoot {
    font-weight: 300;
  }

  .accordion &.table-bordered {
    th,
    td {
      border-color: #d3d3d3;
    }
  }
}
