// =============================================================================
// [TITLE]
// =============================================================================

.table {
  .thead {
    th {
      color: white;
      background-color: $primary;
      border-color: $secondary;
    }
  }
}
