// =============================================================================
// Template :: Cost Estimator
// =============================================================================

body.cost-estimator {
  .estimator-results {
    @include media-breakpoint-up(md) {
      display: flex;
      align-items: center;
      margin-bottom: 1rem;
    }

    h2 {
      margin-bottom: 0;
    }

    .share {
      margin-left: auto;
      
      ul {
        display: flex;
        flex-wrap: nowrap;
      }
    }
  }
}
