// =============================================================================
// Program Finder Template
// =============================================================================

.program-finder__results {
  position: relative;

  // Results count
  // ---------------------------------------------------------------------------

  .search-results__count {
    @include media-breakpoint-up(lg) {
      position: absolute;
      bottom: 100%;
      right: 0;
    }
  }

  // Results grid
  // ---------------------------------------------------------------------------

  .grid {
    @include media-breakpoint-up(md) {
      display: flex;
      flex-wrap: wrap;
      margin: 0 -0.5rem;
    }
  }

  // Result (teaser)
  // ---------------------------------------------------------------------------

  .program {
    margin-bottom: 1rem;

    @include media-breakpoint-up(md) {
      width: calc(50% - 1rem);
      margin-left: 0.5rem;
      margin-right: 0.5rem;
    }
  }

  // More results button
  // ---------------------------------------------------------------------------

  .btn-overview {
    display: block;
    margin: 3rem 0;
    border-radius: 0;
  }
}
