// =============================================================================
// Student Resources Template
// =============================================================================

.resources {
  .pods {
    @include media-breakpoint-up(md) {
      display: flex;
      flex-wrap: wrap;
      margin: 0 -0.625rem;

      .pod {
        margin-left: 0.625rem;
        margin-right: 0.625rem;
        width: calc(50% - 1.25rem);
      }
    }

    @include media-breakpoint-up(lg) {
      margin: 0 -0.5rem;

      .pod {
        margin-left: 0.5rem;
        margin-right: 0.5rem;
        margin-bottom: 1rem;
        width: calc(#{percentage(1/3)} - 1rem);
      }
    }
  }

  .preview-teaser {
    ul {
      padding-left: 0;
    }

    li {
      list-style: none;
    }

    a {
      font-weight: 500;
    }
  }
}
