// =============================================================================
// WHAT'S NEW TEMPLATE
// =============================================================================

body.whats-new {
  @import './whats-new/banner';
  @import './whats-new/latest';

  .pagination {
    flex-wrap: wrap;
  }

  .whats-new-footer {
    @include media-breakpoint-down(md) {
      .all-news {
        margin-bottom: 3rem;
      }
    }

    @include media-breakpoint-up(lg) {
      display: flex;
      align-items: center;
      justify-content: space-between;

      .pagination {
        flex-grow: 1;
        order: 1;
        margin-bottom: 0;
      }

      .all-news {
        width: rem-calc(200);
        text-align: right;
        transform: translateY(-0.5rem);
        order: 2;
      }
    }
  }
}
