// =============================================================================
// International Home :: Videos
// =============================================================================

section.videos {
  position: relative;
  z-index: 3;
  overflow: inherit;
  box-shadow: none;
  background-color: transparent;
  background-image: url('https://prismic-io.s3.amazonaws.com/ucriverside/f3f3138f-56d7-4fa7-99d9-63845107ae7d_abstract-hills.svg');

  @include media-breakpoint-up(lg) {
    padding: 0 0 rem-calc(150);
  }

  .container-max {
    @include media-breakpoint-up(lg) {
      margin-top: rem-calc(-120);
      margin-bottom: 0;
      padding: 0 12rem;
    }
  }

  .heading {
    @include media-breakpoint-up(lg) {
      max-width: none;
      padding-top: rem-calc(45);
      padding-bottom: rem-calc(45);
      font-size: rem-calc(22);
      text-align: center;
    }
  }
}
