// =============================================================================
// Video Modal
// =============================================================================

.modal-video {
  // Content
  // ---------------------------------------------------------------------------

  .modal-content {
    padding: 0;
    border: none;
    background-color: black;
  }

  // Heading
  // ---------------------------------------------------------------------------

  .modal-header {
    padding: 0;
    border: 0;
  }

  // Body Content
  // ---------------------------------------------------------------------------

  .modal-body {
    padding: 0;
  }

  // Loader
  // ---------------------------------------------------------------------------

  .loader {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate3D(-50%, -50%, 0);
  }
}
