// =============================================================================
// CERTIFICATES :: RELATED PROGRAMS
// =============================================================================

.section__related-slider {
  padding: 3rem 0;
  background-color: $light;
  overflow: hidden;
  
  @include media-breakpoint-up(lg) {
    padding: 5rem 0;
  }

  @include media-breakpoint-up(lg) {
    padding: 5.5rem 0;
  }

  // Slider
  // ---------------------------------------------------------------------------

  .slider {
    @include media-breakpoint-up(lg) {
      &:before {
        background-image: linear-gradient(to right, $light, rgba($light, 0));
      }

      &:after {
        background-image: linear-gradient(to left, $light, rgba($light, 0));
      }
    }
  }
}
