// =============================================================================
// Certificate Specific Spotlight Teasers
// =============================================================================

.section__spotlight-teasers {
  padding-bottom: rem-calc(40);
  box-shadow: inset 0 rem-calc(60) white;
  background: url('https://prismic-io.s3.amazonaws.com/ucriverside/fd4db3d2-86fc-4018-836a-32a8055899f2_abstract-orange.svg') repeat-y 50% 50% $tertiary;
  background-size: cover;

  @include media-breakpoint-up(lg) {
    padding-bottom: rem-calc(130);
  }

  .container-max {
    @include media-breakpoint-up(lg) {
      padding-left: 12vw;
      padding-right: 12vw;  
    }
  }
}
